{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 well">
            <h1>{{  entity.title  }} <small>By {{  entity.author  }}</small></h1>
            <p>
                <strong>Updated:</strong>
                {{ entity.updatedAt|date('H:i D j')}}<sup>{{entity.updatedAt|date('S') }}</sup>{{entity.updatedAt|date(' M Y') }}

                {#11:09 Sat 3<sup>rd</sup> Sep 2014#}
            </p>
            <p>
                <strong>Tagged:</strong>
                {% for tag in entity.tags %}
                    <a href="{{  path('by_tag_show', {  'tagId': tag.id})  }}">
                        {{  tag.tag  }}
                    </a>
                {% endfor %}
            </p>
            <p>
                {{  entity.content  }}
            </p>
            <p>
                {{  entity.content  }}
            </p>
        </div>

        <div class="col-sm-12">
            <ul class="pager">
                <li class="previous"><a href="{{ path('blog_show', { 'id': entity.id - 1 }) }}">Older</a></li>
                <li class="next"><a href="{{ path('blog_show', { 'id': entity.id + 1 }) }}">Newer &rarr;</a></li>
            </ul>
        </div>

        <div class="col-sm-12">
            <h2>Comments</h2>

            <ul class="list-unstyled">
                <li>
                    <div class="alert alert-info">No comments have been posted yet.</div>
                </li>
            </ul>

            <hr>

            <h3>Add comment</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputName3" class="col-sm-2 control-label">Name <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputName3" placeholder="Name">
                        <span class="help-block">Your full name.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        <span class="help-block">Must be a valid email address. Will <strong>not be displayed</strong> publicly.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment" class="col-sm-2 control-label">Comment <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <textarea name="comment" id="comment" class="form-control" rows="8" cols="40" placeholder="Comment..."></textarea>
                        <span class="help-block">HTML <em>will not be rendered</em> in your comment. Minimum 10 characters.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-danger">*</span> Indicates a required field.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}